<md-toolbar color="primary">    
    <span class="example-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon></button>
    <span>Pro Kabaddi League</span>
</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>

<!--<md-card class="example-card" *ngFor="let data of (myData ? myData.slice(0,10): []); let i = index">

  <img md-card-image src="{{ data.url }}">
  <md-card-header>
    <md-card-title>{{ data.title }}</md-card-title>
  </md-card-header>
</md-card>-->

<md-card class="example-card">

    
      <sc-card 
              [callDestroy]="card.destroyEvent"
              [orientation]="orientation"
              (onRelease)="onRelease($event)"
              (onSwipe)="onSwipe($event)"
              (onAbort)="onAbort($event)"
              [tinder-card]="overlay">
              <div class="card-content">
                <img [src]="card.url" draggable="false"/>
              </div>
      </sc-card>
    
</md-card>